<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @dias.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @dias.nombre %>
</p>

<%= link_to 'Edit', edit_dias_path(@dias) %> |
<%= link_to 'Back', dia_path %>
