<%= form_with(model: regione, local: true) do |form| %>
  <% if regione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regione.errors.count, "error") %> prohibited this regione from being saved:</h2>

      <ul>
      <% regione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :regione_codigo %>

   </div>
   



  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :regione_nombre %>
  </div>

   <div class="form-group row">
<div class="col-xs-10">
   <div class="col-xs-7">
    </div>
   <%= form.submit "Aceptar", class: "btn btn-success" %>
   <%= link_to 'Cancelar', regiones_path, class: "btn btn-success" %>
   </div>
    </div>
<% end %>
 </div>
  </div>
</div>