<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @barrio.nombre %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @barrio.distrito %>
</p>

<%= link_to 'Edit', edit_barrio_path(@barrio) %> |
<%= link_to 'Back', barrios_path %>
