<%= form_with(model: habitacione, local: true) do |form| %>
  <% if habitacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habitacione.errors.count, "error") %> prohibited this habitacione from being saved:</h2>

      <ul>
      <% habitacione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :habitacione_descripcion %>
  </div>

  <div class="field">
    <%= form.label :nrohabit %>
    <%= form.text_field :nrohabit, id: :habitacione_nrohabit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
