<div align="center">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    

  <div><%= f.label :Nombre_Usuario %><br />
        <%= f.text_field :name %></div>
        
    <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %> <i>(Deje espacio vacío si usted no quiere cambiarlo)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(Necesitamos que su contraseña actual confirme sus cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div><br>
 <div><%= f.submit "Actualizar",class: "btn btn-primary" %></div>
    <% end %>
   
   

    <h3>Eliminar Cuenta</h3>
<div>
    <p>Infeliz? <%= button_to "Eliminar mi Cuenta", registration_path(resource_name), data: { confirm: "Estas Seguro?" }, method: :delete, class: "btn btn-primary" %></p>

    <%= link_to "Atras", :back, class: "btn btn-primary" %>
    </div>
</div>