<% content_for :subtitulo do %>
  Factura Número: <%= @factproveedore.codigo %>
<% end %>

Factura Número: <%= @factproveedore.codigo %><br>

Nombre Cliente:<br>
<%= @factproveedore.sanatorio.nombre %><br>
<hr>
Condicion Factura:<br>
<%= @factproveedore.tpago %><br>
<hr>
Fecha de Expedicion: <%= @factproveedore.created_at.strftime("%d/%m/%Y") %>
<hr>

<table class="table table-bordered">
  <thead>
    <th>Codigo Producto</th>
    <th>Descripcion</th>
    <th>Cantidad</th>
    <th>Precio</th>
     <th>Total</th>
  </thead>
  <tbody>
    <% @factproveedore.detallefactproveedores.each do |detalles_fact| %>
      <tr>
        <td> <%= detalles_fact.insumo.codigo %> </td>
        <td> <%= detalles_fact.insumo.descripcion %></td>
        <td> <%= detalles_fact.cantidad %> </td>
        <td> <%= number_to_currency(detalles_fact.precio) %> </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to factproveedore_path(@factproveedore, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" do%>
    <i class="glyphicon glyphicon-print"></i> Imprimir Factura
  <% end %>
</div>
