<div class="container-fluid">
  <div class="panel panel-default">
  <div class="panel-heading">Especialidades</div>
  <div class="panel-body">
  <div class="table-responsive">
<table class="table">
 <thead>
  
  <tr>
   <th></th>
   
   <th>Descripcion</th>
   <th>Fecha de Alta</th>
   <th>Fecha de Modificación</th>
   <th colspan="2"></th>
  </tr>
 
 </thead>

 <tbody>
  <div id="especialidades">
   <% @especialidades.each do |especialidade| %>
    <tr>
    <td>
          <%= button_to especialidade_path(especialidade), {method: :get, class: "btn btn-info"} do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span> Ver
          <% end %>
        </td>
  
     <td><%= especialidade.descripcion %></td>
     <td><%= especialidade.created_at.strftime("%d/%m/%Y") %></td>
     <td><%= especialidade.updated_at.strftime("%d/%m/%Y") %></td>
     
     <td> <%= link_to edit_especialidade_path(especialidade), remote: true, class: "btn btn-info" do %>
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Editar
      <% end %> </td>
     
    
     <td>
      <% if can? :destroy, especialidade %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
   especialidade_path(especialidade),
   :method => :delete,
   :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estas Seguro?')) },
   :class => 'btn btn-mini btn-danger' %>
 <% end %>
     </td>
    </tr>
   <% end %>
  </div>
 </tbody>
 
</table>
</div>
 <tr>
   <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  </tr>