<p id="notice"><%= notice %></p>

<h1>Detallepedidos</h1>

<table>
  <thead>
    <tr>
      <th>Solicitado</th>
      <th>Surtido</th>
      <th>Pedido</th>
      <th>Insumo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detallepedidos.each do |detallepedido| %>
      <tr>
        <td><%= detallepedido.solicitado %></td>
        <td><%= detallepedido.surtido %></td>
        <td><%= detallepedido.pedido %></td>
        <td><%= detallepedido.insumo %></td>
        <td><%= link_to 'Show', detallepedido %></td>
        <td><%= link_to 'Edit', edit_detallepedido_path(detallepedido) %></td>
        <td><%= link_to 'Destroy', detallepedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detallepedido', new_detallepedido_path %>
