<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitado:</strong>
  <%= @detallepedido.solicitado %>
</p>

<p>
  <strong>Surtido:</strong>
  <%= @detallepedido.surtido %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @detallepedido.pedido %>
</p>

<p>
  <strong>Insumo:</strong>
  <%= @detallepedido.insumo %>
</p>

<%= link_to 'Edit', edit_detallepedido_path(@detallepedido) %> |
<%= link_to 'Back', detallepedidos_path %>
