<div id="departamento-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
<%= form_for @paciente, remote: true do |form| %>

   <div class="modal-body">
   <table>
  <thead>
    <tr>
    <th>
  
   <div class="btn-group">
  <div class="form-group row">
  <div class="col-xs-3 ">
    <%= form.label :cedula %>
     </div>
    <div class="col-xs-7">
    <%= form.text_field :ci, autofocus: true, placeholder: "Cedula", class: "form-control"  %>

  
  </div>
  </div>
</th>
 
     
  

  <tr>
    <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :nombre %>
     </div>
    <div class="col-xs-7">
    <%= form.text_field :nombre, autofocus: true, placeholder: "Nombre", class: "form-control"  %>
  </div>
  </div>
      
  <th>
 <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :apellido %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :apellido, autofocus: true, placeholder: "Apellido", class: "form-control"  %>
  </div>
  </div>
   </th>
    
<tr>
    <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :direccion %>
     </div>
    <div class="col-xs-7">
    <%= form.text_area :direccion, autofocus: true, placeholder: "Direccion", class: "form-control"  %>
  </div>
  </div>
 </th> 
 <th>
 
 <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :telefono %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :telefono, autofocus: true, placeholder: "Teléfono", class: "form-control"  %>
  </div>
  </div>
   </div>
   </th>
 <tr>
    <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :celular %>
     </div>
    <div class="col-xs-7">
    <%= form.text_field :celular, autofocus: true, placeholder: "Celular", class: "form-control"  %>
  </div>
  </div>
 </th>

  <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :fecha_nacimiento %>
     </div>
    <div class="col-xs-5">
    <%= form.date_field :fecha_naci, autofocus: true, placeholder: "Fecha Nacimiento", class: "form-control"  %>
  </div>
  </div>
     </th>
  </tr>
  
 <tr>
    <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :correo %>
     </div>
    <div class="col-xs-7">
    <%= form.text_field :correo, autofocus: true, placeholder: "Correo", class: "form-control"  %>
  </div>
  </div>
 </th>
 <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :contacto_familiar %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :contacto_familiar, autofocus: true, placeholder: "", class: "form-control"  %>
  </div>
  </div>
</th>
  </tr>
  
   <th>
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :Sexo %>
  </div>
 <div class="col-xs-6">
     <%= form.collection_select :sexo_id, Sexo.all, :id, :nombre, 
                  {selected: @paciente.sexo_id, include_blank: 'Genero'},
                  {class: "form-control"} %>
     
    </div>
     
  </div>
 </th>

  
   <div class="form-group row">
  <div class="col-xs-2">
  <%= form.label :Ciudad_id %>
  </div>
 <div class="col-xs-6">
     <%= form.collection_select :ciudade_id, Ciudade.all, :id, :nombre, 
                  {selected: @paciente.ciudade_id, include_blank: 'Seleccione ciudad'},
                  {class: "form-control"} %>
     
    </div>
    <% if can? :create, @medico %>
     <%= link_to  new_ciudade_path, remote: true, class: "btn btn-success" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 
    <% end %>
      <% end %>
  </div>
   
    </thead>
   </table>
  <div class="form-group row">
    <div class="col-xs-10">
       <div class="col-xs-7">
    </div>
   <%= form.submit "Aceptar", class: "btn btn-success" %>
   <%= link_to 'Cancelar', pacientes_path, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>