<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @paciente.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @paciente.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @paciente.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paciente.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @paciente.celular %>
</p>

<p>
  <strong>Fecha naci:</strong>
  <%= @paciente.fecha_naci %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @paciente.correo %>
</p>

<p>
  <strong>Contacto familiar:</strong>
  <%= @paciente.contacto_familiar %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
