<div class="row">
		    	<div class="col-md-12">
		    		<div class="panel panel-default">
		    			<div class="panel-heading">
		    				<h3 class="panel-title"><strong>Detalles Consulta</strong></h3>
		    			</div>
		    			<div class="panel-body">
<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>CI:</strong>
  </div>
  <%= @historia_paciente.consult.turno.paciente.ci %>
</address>
 </div>
 </div>	                                  		  
				    			
		    			
<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Nombre:</strong>
  </div>
  <%= @historia_paciente.consult.turno.paciente.nombre %>
</address>
 </div>
 </div>		    			

<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Apellido:</strong>
  </div>
  <%= @historia_paciente.consult.turno.paciente.apellido %>
</address>
 </div>
 </div>	                                  		  
		    			  			
<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Diagnostico:</strong>
  </div>
  <%= @historia_paciente.diagnostico %>
</address>
 </div>
 </div>

<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Indicaciones:</strong>
  </div>
  <%= @historia_paciente.indicaciones %>
</address>
 </div>
 </div>

<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Fecha proxima cita:</strong>
  </div>
  <%= @historia_paciente.fecha_proxima_cita %>
</address>
 </div>
 </div>

<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Recomendaciones:</strong>
  </div>
  <%= @historia_paciente.recomendaciones %>
</address>
 </div>
 </div>

<div class="row">
<div class="col-xs-6">

<div class="col-xs-6">
<address>
  <strong>Consult:</strong>
  </div>
  <%= @historia_paciente.consult.turno.turno_nro %>
</address>
 </div>
 </div>

<div class="row">
 <div class="col-xs-6">
 </div>
 <div class="col-xs-6">
  <address>	    			
  <%= link_to 'Volver', historia_pacientes_path, class: "btn btn-success" %>|
  <%= link_to 'Editar', edit_historia_paciente_path(@historia_paciente), class: "btn btn-info" %> 

 </address>
	             </div>
               </div>
             </div>
            </div>
           </div>
        </div>
      </div>
    </div>
 </div>