<%= form_with(model: reserva, local: true) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="modal-body">
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :codigo %>
     </div>
 <div class="col-xs-6">
    <%= form.text_field :codigo, autofocus: true, placeholder: "", class: "form-control" %>
 
 </div>
  </div>
  
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Numero %>
     </div>
 <div class="col-xs-6">
    <%= form.text_field :nro, autofocus: true, placeholder: "", class: "form-control" %>
 
 </div>
  </div>
<div class="form-group row">
   <div class="col-xs-2">
    <%= form.label :asunto %>
     </div>
 <div class="col-xs-6">
    <%= form.text_field :asunto,class: "form-control" %>
  </div>
  </div>
   <div class="form-group row">
   <div class="col-xs-2">
  <%= form.label :Paciente_id %>
  </div>
 <div class="col-xs-6">
     <%= form.collection_select :paciente_id, Paciente.all, :id, :completo, 
                  {selected: @reserva.paciente_id, include_blank: 'Seleccione Paciente'},
                  {class: "form-control"} %>
     
    </div>
       <%= link_to  new_paciente_path, remote: true, class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Paciete
    <% end %>
       </div>

    <div class="form-group row">
   <div class="col-xs-2">
  <%= form.label :Medico_id %>
  </div>
 <div class="col-xs-6">
     <%= form.collection_select :medico_id, Medico.all, :id, :completo, 
                  {selected: @reserva.medico_id, include_blank: 'Seleccione medico'},
                  {class: "form-control"} %>
     
    </div>
      <%= link_to  new_medico_path, remote: true, class: "btn btn-primary" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Paciete
    <% end %>
       </div>

  <div class="form-group row">
   <div class="col-xs-2">
    <%= form.label :fecha %>
      </div>
 <div class="col-xs-6">
    <%= form.date_field :fecha, id: :reserva_fecha %>
  </div>
  </div>
<div class="form-group row">
   <div class="col-xs-2">
    <%= form.label :hora %>
     </div>
 <div class="col-xs-6">
    <%= form.time_select :hora, id: :reserva_hora %>
  </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
