<%= form_with(model: reserva, local: true) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :reserva_codigo %>
  </div>

  <div class="field">
    <%= form.label :nro %>
    <%= form.number_field :nro, id: :reserva_nro %>
  </div>

  <div class="field">
    <%= form.label :asunto %>
    <%= form.text_field :asunto, id: :reserva_asunto %>
  </div>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.text_field :paciente_id, id: :reserva_paciente_id %>
  </div>

  <div class="field">
    <%= form.label :medico_id %>
    <%= form.text_field :medico_id, id: :reserva_medico_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :reserva_fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora, id: :reserva_hora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
