<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaing:</strong>
  <%= @internacione.fechaIng %>
</p>

<p>
  <strong>Horaing:</strong>
  <%= @internacione.horaIng %>
</p>

<p>
  <strong>Fechasalida:</strong>
  <%= @internacione.fechaSalida %>
</p>

<p>
  <strong>Horasalida:</strong>
  <%= @internacione.horaSalida %>
</p>

<p>
  <strong>Habitacione:</strong>
  <%= @internacione.habitacione.descripcion %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @internacione.paciente.nombre %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @internacione.medico.nombre %>
</p>

<p>
  <strong>Totalgasto:</strong>
  <%= @internacione.totalGasto %>
</p>

<%= link_to 'Edit', edit_internacione_path(@internacione) %> |
<%= link_to 'Back', internaciones_path %>
