<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
      <% departamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :departamento_nombre %>
  </div>

  <div class="field">
    <%= form.label :regione_id %>
    <%= form.text_field :regione_id, id: :departamento_regione_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
