<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :codigo %>
     </div>
    <div class="col-xs-3">
    <%= form.text_field :codigo, autofocus: true, placeholder: "", class: "form-control"  %>
  </div>
  </div>

  <div class="form-group row">
  <div class="col-xs-3">
  <%= form.label :medico_id %>
  </div>
 <div class="col-xs-5">
     <%= form.collection_select :medico_id, Medico.all, :id, :completo, 
                  {selected: @horario.medico_id, include_blank: 'Seleccione medico'},
                  {class: "form-control"} %>
     
    </div>
     <%= link_to  new_medico_path, remote: true, class: "btn btn-success" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 
    <% end %>
  </div>

  <div class="form-group row">
  <div class="col-xs-3">
  <%= form.label :dia_id %>
  </div>
 <div class="col-xs-5">
     <%= form.collection_select :dia_id, Dia.all, :id, :nombre, 
                  {selected: @horario.dia_id, include_blank: 'Seleccione dia'},
                  {class: "form-control"} %>
     
    </div>
     <%= link_to  new_dia_path, remote: true, class: "btn btn-success" do %> 
   <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 
    <% end %>
  </div>

 <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :horadesde %>
     </div>
    <div class="col-xs-5">
    <%= form.time_select :horadesde, autofocus: true, placeholder: "", class: "form-control"  %>
  </div>
  </div>

 <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :horahasta %>
     </div>
    <div class="col-xs-5">
    <%= form.time_select :horahasta, autofocus: true, placeholder: "", class: "form-control"  %>
  </div>
  </div>

  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :fecha %>
     </div>
    <div class="col-xs-2">
    <%= form.date_field :fecha, autofocus: true, placeholder: "", class: "form-control"  %>
  </div>
  </div>

   <div class="form-group row">
    <div class="col-xs-10">
       <div class="col-xs-7">
    </div>
   <%= form.submit "Aceptar", class: "btn btn-success" %>
   <%= link_to 'Cancelar', horarios_path, class: "btn btn-success" %>
        </div>
      </div>
     <% end %>