<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :horario_codigo %>
  </div>

  <div class="field">
    <%= form.label :medico_id %>
    <%= form.text_field :medico_id, id: :horario_medico_id %>
  </div>

  <div class="field">
    <%= form.label :dia_id %>
    <%= form.text_field :dia_id, id: :horario_dia_id %>
  </div>

  <div class="field">
    <%= form.label :horadesde %>
    <%= form.time_select :horadesde, id: :horario_horadesde %>
  </div>

  <div class="field">
    <%= form.label :horahasta %>
    <%= form.time_select :horahasta, id: :horario_horahasta %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :horario_fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
