<p id="notice"><%= notice %></p>

<h1>Internaciones</h1>
<%= link_to 'Cargar para Factura', new_detalle_internacione_path %>
<table class="table">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Medico</th>
      <th>Habitacione</th>
      <th>Fechaing</th>
      <th>Horaing</th>
      <th>Fechasalida</th>
      <th>Horasalida</th>
      
      <th>Totalgasto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internaciones.each do |internacione| %>
      <tr>
       <td><%= internacione.paciente.nombre %></td>
        <td><%= internacione.medico.completo %></td>
         <td><%= internacione.habitacione.descripcion %></td>
        <td><%= internacione.fechaIng.strftime("%d/%m/%Y") %></td>
        <td><%= internacione.horaIng.strftime("%R") %></td>
        <td><%= internacione.fechaSalida.strftime("%d/%m/%Y") %></td>
        <td><%= internacione.horaSalida.strftime("%R") %></td>
       
        <td><%= internacione.totalGasto %></td>
        <td><%= link_to 'Show', internacione %></td>
        <td><%= link_to 'Edit', edit_internacione_path(internacione) %></td>
        <td><%= link_to 'Destroy', internacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internacione', new_internacione_path %>
