<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @distrito.nombre %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @distrito.departamento %>
</p>

<%= link_to 'Edit', edit_distrito_path(@distrito) %> |
<%= link_to 'Back', distritos_path %>
