<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @insumo.descripcion %>
</p>

<p>
  <strong>Precio compra:</strong>
  <%= @insumo.precio_compra %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @insumo.precio_venta %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @insumo.stock %>
</p>

<p>
  <strong>Stock minimo:</strong>
  <%= @insumo.stock_minimo %>
</p>

<p>
  <strong>Unidades medida:</strong>
  <%= @insumo.unidades_medida %>
</p>

<p>
  <strong>Proveedore:</strong>
  <%= @insumo.proveedore %>
</p>

<p>
  <strong>Tipo iva:</strong>
  <%= @insumo.tipo_iva %>
</p>

<%= link_to 'Edit', edit_insumo_path(@insumo) %> |
<%= link_to 'Back', insumos_path %>
