<p id="notice"><%= notice %></p>
<p>
  <strong>Fecha Ingreso:</strong>
  <%= @detalle_internacione.internacione.fechaIng %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @detalle_internacione.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle_internacione.cantidad %>
</p>

<p>
  <strong>Preciouni:</strong>
  <%= @detalle_internacione.preciouni %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detalle_internacione.subtotal %>
</p>


<p>
  <strong>Internacione:</strong>
  <%= @detalle_internacione.internacione_id %>
</p>
<p>
  <strong>TOTAL A COBRAR:</strong>
  <%= @detalle_internacione.internacione.totalGasto %>
</p>

<%= link_to 'Edit', edit_detalle_internacione_path(@detalle_internacione) %> |
<%= link_to 'Back', detalle_internaciones_path %>
