<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
 <%= form_with(model: historia, local: true) do |form| %>
  <% if historia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historia.errors.count, "error") %> prohibited this historia_paciente from being saved:</h2>

      <ul>
      <% historia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Codigo %>
     </div>
    <div class="col-xs-5">
    <%= form.text_area :codigo, autofocus: true, placeholder: "codigo", class: "form-control"  %>
  </div>
  </div>
 <div class="form-group row">
  <div class="col-xs-2">
  <%= form.label :Nro_Reserva_id %>
  </div>
 <div class="col-xs-5">
     <%= form.collection_select :reserva_id, Reserva.all, :id, :nro,
                  {selected: @historia.reserva_id, include_blank: 'Nro Reserva'},
                  {class: "form-control"} %>
     
    </div>
  </div>
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :diagnostico %>
     </div>
    <div class="col-xs-5">
    <%= form.text_area :diagnostico, autofocus: true, placeholder: "diagnostico", class: "form-control"  %>
  </div>
  </div>

 <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :indicaciones %>
     </div>
    <div class="col-xs-5">
    <%= form.text_area :indicaciones, autofocus: true, placeholder: "indicaciones", class: "form-control"  %>
  </div>
  </div>

   <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :fecha_proxima_cita %>
     </div>
    <div class="col-xs-5">
    <%= form.date_field :fecha_proxima_cita, id: :historia_fecha_proxima_cita %>
  </div>
 </div>
 
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :recomendaciones %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :recomendaciones, id: :historia_recomendaciones, autofocus: true, placeholder: "recomendaciones", class: "form-control"  %>
  </div>
 </div>

  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Estudios %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :estudios, id: :historia_estudios, autofocus: true, placeholder: "estudios", class: "form-control"  %>
  </div>
 </div>
 
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :resultestudios %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :resultestudios, id: :historia_resultestudios, autofocus: true, placeholder: "resultado estudios", class: "form-control"  %>
  </div>
 </div>
 
  <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Precio_Consulta %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :precio, id: :historia_precio, autofocus: true, placeholder: "Precio", class: "form-control"  %>
  </div>
 </div>
 
      <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Descuento %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :descuento, id: :historia_descuento, autofocus: true, placeholder: "descuento", class: "form-control"  %>
  </div>
 </div>
 
     <div class="form-group row">
  <div class="col-xs-2">
    <%= form.label :Total %>
     </div>
    <div class="col-xs-5">
    <%= form.text_field :total, id: :historia_total, autofocus: true, placeholder: "total a pagar", class: "form-control"  %>
  </div>
 </div>
 
   
 
  <div class="form-group row">
<div class="col-xs-10">
   <div class="col-xs-7">
    </div>,
   <%= form.submit "Aceptar", class: "btn btn-success" %>
   <%= link_to 'Cancelar', historias_path, class: "btn btn-success" %>
   </div>
    </div>
<% end %>
 </div>
  </div>
</div>