

  


<p align="right">
  <strong>Fecha Consulta:</strong>
  <%= @historia.created_at.strftime("%d/%m/%Y") %> ||<strong> Numero de Reserva:</strong>
  <%= @historia.reserva.nro %>
</p>


<p>
  <strong>Codigo:</strong>
  <%= @historia.codigo %>
</p>

<p>
  <strong>Diagnostico:</strong>
  <%= @historia.diagnostico %>
</p>

<p>
  <strong>Indicaciones:</strong>
  <%= @historia.indicaciones %>
</p>

<p>
  <strong>Fecha proxima cita:</strong>
  <%= @historia.fecha_proxima_cita %>
</p>

<p>
  <strong>Recomendaciones:</strong>
  <%= @historia.recomendaciones %>
</p>

<p>
  <strong>Reserva:</strong>
  <%= @historia.reserva.nro %>
</p>

<p>
  <strong>Estudios:</strong>
  <%= @historia.estudios %>
</p>

<p>
  <strong>Resultestudios:</strong>
  <%= @historia.resultestudios %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @historia.precio %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @historia.descuento %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency @historia.total %>
</p>

<%= link_to 'Editar', edit_historia_path(@historia)  %> |
<%= link_to 'Atras', historias_path %>
