<p id="notice"><%= notice %></p>

<h1>Detalle Internaciones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Preciouni</th>
      <th>Subtotal</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Internacione</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_internaciones.each do |detalle_internacione| %>
      <tr>
        <td><%= detalle_internacione.descripcion %></td>
        <td><%= detalle_internacione.cantidad %></td>
        <td><%= detalle_internacione.preciouni %></td>
        <td><%= detalle_internacione.subtotal %></td>
        <td><%= detalle_internacione.fecha %></td>
        <td><%= detalle_internacione.hora %></td>
        <td><%= detalle_internacione.internacione_id %></td>
        <td><%= link_to 'Show', detalle_internacione %></td>
        <td><%= link_to 'Edit', edit_detalle_internacione_path(detalle_internacione) %></td>
        <td><%= link_to 'Destroy', detalle_internacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Internacione', new_detalle_internacione_path %>
