<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.number_field :codigo, id: :pedido_codigo %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :pedido_fecha %>
  </div>

  <div class="field">
    <%= form.label :proveedore_id %>
    <%= form.text_field :proveedore_id, id: :pedido_proveedore_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
