<p id="notice"><%= notice %></p>

<p>
  <strong>Asunto:</strong>
  <%= @cita.asunto %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @cita.paciente.nombre %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @cita.medico.nombre %>
</p>

<p>
  <strong>Nro orden:</strong>
  <%= @cita.nro_orden %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cita.fecha %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @cita.nota %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cita.estado.decripcion %>
</p>

<p>
  <strong>Estadopago:</strong>
  <%= @cita.estadoPago %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @cita.costo %>
</p>

<%= link_to 'Edit', edit_cita_path(@cita) %> |
<%= link_to 'Back', citas_path %>
