<%= form_with(model: tipo_consult, local: true) do |form| %>
  <% if tipo_consult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_consult.errors.count, "error") %> prohibited this tipo_consult from being saved:</h2>

      <ul>
      <% tipo_consult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :tipo_consult_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
