<%= form_with(model: dia, local: true) do |form| %>
  <% if dia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dia.errors.count, "error") %> prohibited this dia from being saved:</h2>

      <ul>
      <% dia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :dia_codigo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :dia_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
