<%= form_with(model: turno_dias, local: true) do |form| %>
  <% if turno_dias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turno_dias.errors.count, "error") %> prohibited this turno_dias from being saved:</h2>

      <ul>
      <% turno_dias.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :turno_dias_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
