<%= form_with(model: barrio, local: true) do |form| %>
  <% if barrio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrio.errors.count, "error") %> prohibited this barrio from being saved:</h2>

      <ul>
      <% barrio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :barrio_nombre %>
  </div>

  <div class="field">
    <%= form.label :distrito_id %>
    <%= form.text_field :distrito_id, id: :barrio_distrito_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
