<p id="notice"><%= notice %></p>

<h1>Barrios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Distrito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barrios.each do |barrio| %>
      <tr>
        <td><%= barrio.nombre %></td>
        <td><%= barrio.distrito %></td>
        <td><%= link_to 'Show', barrio %></td>
        <td><%= link_to 'Edit', edit_barrio_path(barrio) %></td>
        <td><%= link_to 'Destroy', barrio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barrio', new_barrio_path %>
