<%= form_with(model: sexo, local: true) do |form| %>
  <% if sexo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sexo.errors.count, "error") %> prohibited this sexo from being saved:</h2>

      <ul>
      <% sexo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :sexo_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
