<p id="notice"><%= notice %></p>

<h1>Detallefactproveedores</h1>

<table>
  <thead>
    <tr>
      <th>Factproveedores</th>
      <th>Number</th>
      <th>Insumo</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detallefactproveedores.each do |detallefactproveedore| %>
      <tr>
        <td><%= detallefactproveedore.factproveedores %></td>
        <td><%= detallefactproveedore.number %></td>
        <td><%= detallefactproveedore.insumo %></td>
        <td><%= detallefactproveedore.cantidad %></td>
        <td><%= detallefactproveedore.precio %></td>
        <td><%= link_to 'Show', detallefactproveedore %></td>
        <td><%= link_to 'Edit', edit_detallefactproveedore_path(detallefactproveedore) %></td>
        <td><%= link_to 'Destroy', detallefactproveedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detallefactproveedore', new_detallefactproveedore_path %>
