<p id="notice"><%= notice %></p>

<p>
  <strong>Factproveedores:</strong>
  <%= @detallefactproveedore.factproveedores %>
</p>

<p>
  <strong>Number:</strong>
  <%= @detallefactproveedore.number %>
</p>

<p>
  <strong>Insumo:</strong>
  <%= @detallefactproveedore.insumo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detallefactproveedore.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @detallefactproveedore.precio %>
</p>

<%= link_to 'Edit', edit_detallefactproveedore_path(@detallefactproveedore) %> |
<%= link_to 'Back', detallefactproveedores_path %>
