<table class="table">
  <thead>
    <tr>
      <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
    </tr>
    <tr>
      <th></th>
      <th>Factura N°</th>
      <th>Fecha</th>
      <th>Total</th>
      <th>Fecha Creacion</th>
      <th>Fecha Modificacion</th>
      <th>Responsable</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventas.each do |venta| %>
      <tr>
        <td>
          <%= button_to venta_path(venta), {method: :get, class: "btn btn-info"} do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span> Ver
          <% end %>
        </td>
        <td><%= venta.number %></td>
        <td><%= venta.date.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(venta.total) %></td>
         <td><%= venta.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= venta.updated_at.strftime("%d/%m/%Y") %></td>
         <td><%= venta.usuario.name %></td>
       
        <td>
          <%= button_to edit_venta_path(venta), {method: :get, class: "btn btn-info"} do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Editar
          <% end %>
        </td>
        <td>
          <%= button_to venta, { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Eliminar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>