<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @venta_detail.number %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @venta_detail.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @venta_detail.price %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @venta_detail.venta_id %>
</p>

<p>
  <strong>Insumo:</strong>
  <%= @venta_detail.insumo_id %>
</p>

<%= link_to 'Edit', edit_venta_detail_path(@venta_detail) %> |
<%= link_to 'Back', venta_details_path %>
