<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
  <div class="form-group row">
  <div class="col-xs-3">
    <%= form.label :codigo %>
     </div>
 <div class="col-xs-5">
    <%= form.text_field :codigo, autofocus: true, placeholder: "", class: "form-control" %>
 
 </div>
  </div>
   <div class="form-group row">
   <div class="col-xs-2">
  <%= form.label :Medico_id %>
  </div>
 <div class="col-xs-6">
     <%= form.collection_select :medico_id, Medico.all, :id, :completo, 
                  {selected: @horario.medico_id, include_blank: 'Seleccione medico'},
                  {class: "form-control"} %>
     
    </div>
       </div>
       
<div class="form-group row">
<div class="col-xs-2">
  <%= form.label :Dia_id %>
   </div>
 <div class="col-xs-6">
     <%= form.collection_select :dia_id, Dia.all, :id, :nombre, 
                  {selected: @horario.dia_id, include_blank: 'Seleccione dia'},
                  {class: "form-control"} %>
     
    </div>
    </div>

     <div class="field">
    <%= form.label :horadesde %>
    <%= form.time_select :horadesde, id: :horario_horadesde %>
  </div>

  <div class="field">
    <%= form.label :horahasta %>
    <%= form.time_select :horahasta, id: :horario_horahasta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
