<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2 align="center">SANNASYS WEB</h2>
                <h2 align="center">RUC 3772323-0</h2>
    			<h3 align="center"> Factura N° <%= @sale.number %></h3> <br>
                <h3 align="left">Cliente: <%= @sale.paciente.completo %></h3>
                
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Fecha:</strong><br>
    					<%= @sale.date.strftime("%d/%m/%Y") %><br><br>
    				</address>
    			</div>
    		</div>
    		<div class="row">
		    	<div class="col-md-12">
		    		<div class="panel panel-default">
		    			<div class="panel-heading">
		    				<h3 class="panel-title"><strong>Detalles de Venta</strong></h3>
		    			</div>
		    			<div class="panel-body">
		    				<%= render partial: 'table', locals: { sale: @sale } %>
		    			</div>
		    		</div>
		    	</div>
		    </div>
    	</div>
    </div>
</div>
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
<%= link_to 'Volver', sales_path %>