<section class="search-form">
 <%= form_for search_entity, method: :get do |f| %>
 <div class="form-group row" style="float:right; margin-right: 10%;" >
  <div class="col-xs-10">
   <%= label_tag :keywords, nil, class: "sr-only" %>
   <%= text_field_tag :keywords, nil, placeholder: "Buscar",
                       class: "form-control", value: "#{@keywords}" %>
   <span class="input-group-btn">
     </div>
    <div class="col-xs-1">

    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
     <span class="glyphicon glyphicon-search"></span> Buscar <%= "#{word}" %> 
    <% end %>
   </span>
    </div>
    </div>
 <% end %>
</section>

   