<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONTROL SANASYS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
   
  </head>

  <body class="<%= controller_name %> <%= action_name %>" id="<%= controller_name %>-<%= action_name %>">
   <p id="notice"></p>
   <% if current_user %>
<%  current_user.name == 'admin' %>
    <%= render 'layouts/topbaradmin' %>
      <% else   %>
        <%= render 'layouts/topbar' %>
         <% end%>
    </br>
    </br>
    </br>
    </br>
     
    
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
   
   
    <%= yield %>
   
    </div>
  </div> 
     
